body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: #000000 solid 10px; */
}

/* Container */
.Container {
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
  /* border: #000000 solid 2px; */
}

/* Navbar */
nav {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(215, 214, 214);
}

nav ul.nav-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

nav ul.nav-links li {
  margin: 0 15px;
}

nav ul.nav-links li a {
  color: #333;
  text-decoration: none;
  font-weight: semi-bold;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

/* Show the navigation when the active class is toggled */
nav ul.nav-links.active {
  display: flex;
  flex-direction: column;
}

.profile-section {
  margin-top: 4rem;
  display: flex;
  height: 30rem;
  justify-content: space-between;
  margin-top: 6rem;
  /* border: #000000 solid 2px; */
}

.quick-contact {
  margin-top: 3rem;
}

.contact-button {
  padding: 10px 30px;
  background-color: rgb(64, 84, 122);
  color: white;
}

/* About Section */
.about-section {
  padding: 2rem;
  background-color: #fff;
  color: #333;
  /* border: #000000 solid 2px; */
}

.about-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.about-section p {
  font-size: 1rem;
}

.skills-section {
  padding: 2rem;
  background-color: #fff;
  color: #333;
}

.skills-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.skill-card {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-card img {
  width: 50px;
  height: 50px;
}

.skill-card p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* Projects Section */
.projects-section {
  padding: 2rem;
  background-color: #fff;
  color: #333;
  /* border: #000000 solid 2px; */
}

.projects-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.projects-section ul {
  list-style-type: none;
  padding: 0;
}

.projects-section ul li {
  margin-bottom: 0.5rem;
}

.contact-section {
  padding: 2rem;
  background-color: #fff !important;
  color: #333;
  margin-bottom: 5rem;
  box-shadow: #000000 1rem, 20px, 10px, 5px;
  /* border: #000000 solid 2px; */
}

.contact-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(64, 84, 122);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(81, 98, 132);
}

/* Footer */
footer {
  background-color: rgb(49, 62, 87);
  text-align: center;
  padding: 1rem;
  color: #fff;
}

@media (max-width: 768px) {
  .profile-section {
    flex-direction: column;
    text-align: center;
  }

  .profile-info {
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .profile-info h1 {
    font-size: 10px;
  }

  nav ul.nav-links {
    justify-content: center;
  }

  nav ul.nav-links li {
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  nav {
    background-color: #59595f;
    color: white;
  }
  nav ul.nav-links {
    display: none;
    width: 100%;
    text-align: center;
  }

  nav span h2 {
    color: white;
  }

  nav ul.nav-links li {
    margin: 10px 0;
    color: white;
  }

  nav ul.nav-links li a {
    color: white;
  }

  .hamburger {
    display: flex;
  }

  .about-section h2,
  .skills-section h2,
  .projects-section h2,
  .contact-section h2 {
    font-size: 1.25rem;
  }

  .about-section {
    margin-top: 20rem;
  }

  .skill-card {
    padding: 0.75rem;
  }

  .skill-card p {
    font-size: 0.8rem;
  }
}

.profile-pic img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.profile-info {
  margin-right: 4rem;
  max-width: 50%;
  text-align: center;
  margin-left: 5rem;
}

.profile-info h1 {
  font-size: 3rem;
}

.profile-info b {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.profile-info p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

/* Contact Section */
.contact-section {
  padding: 2rem;
  background-color: #f0f0f0;
  color: #333;
}

.contact-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact-section p {
  font-size: 1rem;
}
